$page-background-gradient: linear-gradient(to right, #8662c7, #2fc092);
$page-background: #5792a9; // for old devices

$input-valid-color: #0eb30e;
$input-invalid-color: #ff0000;

$form-card-border-radius: 1rem;

.hiring-page {
  .page-background {
    background: $page-background;
    background-image: $page-background-gradient;
  }

  .form-card {
    border-radius: $form-card-border-radius;
  }

  .form-control.ng-touched {
    &.ng-valid {
      border-color: $input-valid-color;
    }
    &.ng-invalid {
      border-color: $input-invalid-color;
    }
  }
}
