<main class="hiring-page">
  <section class="vh-100 page-background">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-lg form-card">
            <div class="card-body p-5">
              <h3 class="mb-5 text-center">
                {{ 'pages.hiring.form.title' | translate }}
              </h3>

              <app-message-alert
                [text]="messageAlert.text"
                [type]="messageAlert.type"
                (closed)="messageAlert.showned = false"
                *ngIf="messageAlert.showned"
              ></app-message-alert>

              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                  <label class="form-label" for="name">
                    {{ 'pages.hiring.form.fields.name' | translate }}
                  </label>
                  <input
                    type="text"
                    id="name"
                    class="form-control form-control-lg"
                    formControlName="name"
                  />
                  <small *ngIf="isInputErrorMsg(name)" class="text-danger">
                    {{ getInputErrorMsg(name) }}
                  </small>
                </div>

                <div class="mb-4">
                  <label class="form-label" for="surname">
                    {{ 'pages.hiring.form.fields.surname' | translate }}
                  </label>
                  <input
                    type="text"
                    id="surname"
                    class="form-control form-control-lg"
                    formControlName="surname"
                  />
                  <small *ngIf="isInputErrorMsg(surname)" class="text-danger">
                    {{ getInputErrorMsg(surname) }}
                  </small>
                </div>

                <div class="mb-4">
                  <label class="form-label" for="email">
                    {{ 'pages.hiring.form.fields.email' | translate }}
                  </label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                  />
                  <small *ngIf="isInputErrorMsg(email)" class="text-danger">
                    {{ getInputErrorMsg(email) }}
                  </small>
                </div>

                <div class="mb-4">
                  <label class="form-label" for="workExpMonths">
                    {{ 'pages.hiring.form.fields.workExp.label' | translate }}
                  </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="workExpMonths"
                      class="form-control form-control-lg"
                      formControlName="workExpMonths"
                    />
                    <span class="input-group-text">
                      {{ 'pages.hiring.form.fields.workExp.tip' | translate }}
                    </span>
                  </div>
                  <small
                    *ngIf="isInputErrorMsg(workExpMonths)"
                    class="text-danger"
                  >
                    {{ getInputErrorMsg(workExpMonths) }}
                  </small>
                </div>

                <div class="row">
                  <div class="col-6 d-grid">
                    <input
                      class="btn btn-success btn-lg"
                      type="submit"
                      value="{{
                        'pages.hiring.form.buttons.submit' | translate
                      }}"
                    />
                  </div>

                  <div class="col-6 d-grid">
                    <button
                      class="btn btn-secondary btn-lg"
                      type="button"
                      (click)="onReset()"
                    >
                      {{ 'pages.hiring.form.buttons.reset' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
