$page-background: #c1cfff;
$input-valid-color: #0eb30e;
$input-invalid-color: #ff0000;

$form-card-border-radius: 1rem;

.hiring-page {
  .page-background {
    background: $page-background;
  }

  .form-card {
    border-radius: $form-card-border-radius;
  }

  .form-control.ng-touched {
    &.ng-valid {
      border-color: $input-valid-color;
    }
    &.ng-invalid {
      border-color: $input-invalid-color;
    }
  }
}
